rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{userId} {
    	allow create, update, delete: if request.auth.uid == userId;
    	allow read: if request.auth.uid != null;
    }
    match /library/{userId} {
    	allow create, update, delete: if request.auth.uid == userId;
    	allow read;
    }
  }
}